.map{
    height: 180px;
    background-image: url(../../img/Map.png);
    margin-bottom: 80px;
}

.map .map-fill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.map .map-fill a{
    font-size: 24px;
    text-transform: uppercase;
    color: #f38181;
    font-weight: 700;
    font-family: "Montserrat";
}

.map .map-fill hr{
    width: 60px;
    height: 3px;
    background-color: #f38181;
}